openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://condimentos.joel-uzcategui.com'
paths:
  /api/auth/login:
    post:
      summary: Login
      operationId: login
      description: "Check that the service is up. If everything is okay, you'll get a 200 OK response.\n\nOtherwise, the request will fail with a 400 error, and a response listing the failed services."
      parameters: []
      responses: {  }
      tags:
        - 'Auth management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: et
                password:
                  type: string
                  description: ''
                  example: expedita
              required:
                - email
                - password
      security: []
  /api/cart:
    post:
      summary: 'New cart'
      operationId: newCart
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Cart management'
      security: []
  '/api/cart/{token}':
    get:
      summary: 'Show Cart / Checkout information'
      operationId: showCartCheckoutInformation
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    token: 0b3c9250-06e8-487f-bc6d-7b4a67f830cb
                    products_quantity: 2
                    total: 16.59
                    products:
                      -
                        id: 2
                        name: 'Sample Product 2'
                        quantity: '1.00'
                        total: 15.99
                      -
                        id: 3
                        name: 'Sample Product 22'
                        quantity: '0.10'
                        total: 4.99
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: 0b3c9250-06e8-487f-bc6d-7b4a67f830cb
                      products_quantity:
                        type: integer
                        example: 2
                      total:
                        type: number
                        example: 16.59
                      products:
                        type: array
                        example:
                          -
                            id: 2
                            name: 'Sample Product 2'
                            quantity: '1.00'
                            total: 15.99
                          -
                            id: 3
                            name: 'Sample Product 22'
                            quantity: '0.10'
                            total: 4.99
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            name:
                              type: string
                              example: 'Sample Product 2'
                            quantity:
                              type: string
                              example: '1.00'
                            total:
                              type: number
                              example: 15.99
      tags:
        - 'Cart management'
      security: []
    parameters:
      -
        in: path
        name: token
        description: ''
        example: 0b3c9250-06e8-487f-bc6d-7b4a67f830cb
        required: true
        schema:
          type: string
  /api/cart/add-product:
    post:
      summary: 'Add Product'
      operationId: addProduct
      description: 'Add a product to cart.'
      parameters: []
      responses: {  }
      tags:
        - 'Cart management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                  description: ''
                  example: 13
                quantity:
                  type: number
                  description: ''
                  example: 220520154.43386
                is_unit:
                  type: boolean
                  description: ''
                  example: false
              required:
                - product_id
                - quantity
                - is_unit
      security: []
  /api/cart/close-cart:
    post:
      summary: 'Close Cart'
      operationId: closeCart
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Cart management'
      security: []
  /api/category:
    get:
      summary: 'List Categories'
      operationId: listCategories
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Listado de Categorias'
                  data:
                    -
                      id: 1
                      name: Condimentos
                    -
                      id: 2
                      name: Reposteria
                    -
                      id: 3
                      name: 'Frutos Secos'
                    -
                      id: 4
                      name: 'Granos y cereales'
                    -
                      id: 5
                      name: Víveres
                    -
                      id: 6
                      name: 'Químicos y más'
                properties:
                  message:
                    type: string
                    example: 'Listado de Categorias'
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: Condimentos
                      -
                        id: 2
                        name: Reposteria
                      -
                        id: 3
                        name: 'Frutos Secos'
                      -
                        id: 4
                        name: 'Granos y cereales'
                      -
                        id: 5
                        name: Víveres
                      -
                        id: 6
                        name: 'Químicos y más'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Condimentos
      tags:
        - 'Category management'
      security: []
  /api/product:
    get:
      summary: 'List products'
      operationId: listProducts
      description: 'List products with pagination'
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Server Error'
                properties:
                  message:
                    type: string
                    example: 'Server Error'
      tags:
        - 'Product management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: string
                  description: ''
                  example: placeat
      security: []
    post:
      summary: 'Create Product'
      operationId: createProduct
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Product management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: oljmcbpnbyufwburrgxk
                description:
                  type: string
                  description: ''
                  example: 'Reiciendis explicabo laboriosam numquam incidunt.'
                image:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: wehihgijzkvndavrsmv
                unit_availability:
                  type: boolean
                  description: ''
                  example: true
                unit_price:
                  type: number
                  description: 'This field is required when <code>unit_availability</code> is <code>true</code>. Must be at least 0.'
                  example: 62
                unit_discount_quantity:
                  type: integer
                  description: 'This field is required when <code>unit_availability</code> is <code>true</code>. Must be at least 1.'
                  example: 31
                unit_discount_price:
                  type: number
                  description: 'This field is required when <code>unit_availability</code> is <code>true</code>. Must be at least 0.'
                  example: 73
                weight_availability:
                  type: boolean
                  description: ''
                  example: false
                weight_price:
                  type: number
                  description: 'This field is required when <code>weight_availability</code> is <code>true</code>. Must be at least 0.'
                  example: 26
                weight_discount_quantity:
                  type: integer
                  description: 'This field is required when <code>weight_availability</code> is <code>true</code>. Must be at least 1.'
                  example: 25
                weight_discount_price:
                  type: number
                  description: 'This field is required when <code>weight_availability</code> is <code>true</code>. Must be at least 0.'
                  example: 18
                unit_name:
                  type: string
                  description: 'This field is required when <code>unit_availability</code> is <code>true</code>. Must not be greater than 255 characters.'
                  example: ugrydjrurujuuujjluxh
                is_available:
                  type: boolean
                  description: ''
                  example: false
                category_id:
                  type: string
                  description: ''
                  example: id
              required:
                - name
                - image
                - unit_availability
                - weight_availability
                - is_available
                - category_id
      security: []
  '/api/product/{id}':
    get:
      summary: 'Show Product'
      operationId: showProduct
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2
                    name: 'Sample Product 2'
                    description: 'This is a sample product description.'
                    image: joel-uzcategui.com
                    unit_availability: true
                    unit_price: '19.99'
                    unit_discount_quantity: 1
                    unit_discount_price: '15.99'
                    weight_availability: true
                    weight_price: '5.99'
                    weight_discount_quantity: 5
                    weight_discount_price: '4.99'
                    unit_name: piece
                    is_available: true
                    category_id: 1
                    created_at: '2024-09-17T17:57:55.000000Z'
                    updated_at: '2024-09-17T17:57:55.000000Z'
                    deleted_at: null
                    category:
                      id: 1
                      name: Condimentos
                      created_at: null
                      updated_at: null
                      deleted_at: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2
                      name:
                        type: string
                        example: 'Sample Product 2'
                      description:
                        type: string
                        example: 'This is a sample product description.'
                      image:
                        type: string
                        example: joel-uzcategui.com
                      unit_availability:
                        type: boolean
                        example: true
                      unit_price:
                        type: string
                        example: '19.99'
                      unit_discount_quantity:
                        type: integer
                        example: 1
                      unit_discount_price:
                        type: string
                        example: '15.99'
                      weight_availability:
                        type: boolean
                        example: true
                      weight_price:
                        type: string
                        example: '5.99'
                      weight_discount_quantity:
                        type: integer
                        example: 5
                      weight_discount_price:
                        type: string
                        example: '4.99'
                      unit_name:
                        type: string
                        example: piece
                      is_available:
                        type: boolean
                        example: true
                      category_id:
                        type: integer
                        example: 1
                      created_at:
                        type: string
                        example: '2024-09-17T17:57:55.000000Z'
                      updated_at:
                        type: string
                        example: '2024-09-17T17:57:55.000000Z'
                      deleted_at:
                        type: string
                        example: null
                      category:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Condimentos
                          created_at:
                            type: string
                            example: null
                          updated_at:
                            type: string
                            example: null
                          deleted_at:
                            type: string
                            example: null
      tags:
        - 'Product management'
      security: []
    put:
      summary: 'Update Product'
      operationId: updateProduct
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Product management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: wej
                description:
                  type: string
                  description: ''
                  example: 'Consectetur sed nihil voluptatem fuga earum voluptatibus.'
                image:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: cottjuznrkmnd
                unit_availability:
                  type: boolean
                  description: ''
                  example: true
                unit_price:
                  type: number
                  description: 'This field is required when <code>unit_availability</code> is <code>true</code>. Must be at least 0.'
                  example: 80
                unit_discount_quantity:
                  type: integer
                  description: 'This field is required when <code>unit_availability</code> is <code>true</code>. Must be at least 1.'
                  example: 47
                unit_discount_price:
                  type: number
                  description: 'This field is required when <code>unit_availability</code> is <code>true</code>. Must be at least 0.'
                  example: 75
                weight_availability:
                  type: boolean
                  description: ''
                  example: false
                weight_price:
                  type: number
                  description: 'This field is required when <code>weight_availability</code> is <code>true</code>. Must be at least 0.'
                  example: 82
                weight_discount_quantity:
                  type: integer
                  description: 'This field is required when <code>weight_availability</code> is <code>true</code>. Must be at least 1.'
                  example: 75
                weight_discount_price:
                  type: number
                  description: 'This field is required when <code>weight_availability</code> is <code>true</code>. Must be at least 0.'
                  example: 89
                unit_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: edlxjxqjwjbzaegxhle
                category_id:
                  type: string
                  description: ''
                  example: null
              required:
                - unit_availability
                - weight_availability
      security: []
    delete:
      summary: 'Delete Product'
      operationId: deleteProduct
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Product management'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the product.'
        example: 2
        required: true
        schema:
          type: integer
tags:
  -
    name: 'Auth management'
    description: "\nAPIs for managing auth"
  -
    name: 'Cart management'
    description: "\nAPIs for managing cart"
  -
    name: 'Category management'
    description: "\nAPIs for managing category"
  -
    name: 'Product management'
    description: "\nAPIs for managing product"
